// General vars
$generalSize: 14px;
$containerWidth: 1170px;
//Big button vars
$bigBtnColor: #fff;
$bigBtnSize: 1.857em;
$borderColor: #fff;
$bigBtnRadius: 5px;

//Small button vars
$smallBtnSize: 1.214em;
$smallBgBlue: #49cbcd;
$smallBgGray: #788492;
$smallBtnRadius: 2px;

//Nav vars
$navSize: 1.071em;
$navHover: #49cbcd;

//team vars
$teamFontColor: #4e525d;

//service styles
$titleDark: #485460;
$titleLight: #49cbcd;
$titleColor: #fff;
$subtitleColor: #f8f9fb;
$serviceNavColor: #8c9299;