@import "_variables.scss";
@import "_buttons.scss";
@import "_fonts.scss";
@import "_reset.scss";


//header top 
.header-top{
	&__col{
		display: inline-block;
		vertical-align: top;
		width: 49%;
	}
	&__logo{
		padding-top: 30px;
		a{
			display: inline-block
		}
	}
	&__nav{
		text-align: right;
		li{
			display: inline-block;
		}
		a{
			display: block;
			padding: 0 15px;
			font-size: $navSize;
			line-height: 6.7;
			transition: .5s;
			border-bottom: 3px solid #fff;
			&:hover{
				color: $navHover;
				border-bottom: 3px solid $navHover;
			}
		}
	}
}

// header-bottom 
.header-bottom{
	&__col{
		padding: 120px 0 145px 0;
		text-align: center;
		background: url(../img/header__bottom-img.jpg) no-repeat center top;
		background-size: cover;
	}
	h3{
		margin: 20px 0 62px 0;
		font-size: 1.643em;
		color: #fff;
	}
}

//carousel styles
.owl{
	&-nav{
		position: absolute;
		top: 50%;
		width: 100%;
	}
	&-prev{
		position: absolute;
		left: 30px;
		width: 50px;
		height: 50px;
		font-size: 0;
		color: transparent;
		border-radius: 50%;
		background: #fff url(../img/arrow-left.png)no-repeat center center;
	}
	&-next{
		position: absolute;
		right: 30px;
		width: 50px;
		height: 50px;
		font-size: 0;
		color: transparent;
		border-radius: 50%;
		background: #fff url(../img/arrow-right.png)no-repeat center center;
	}
}

// team 
.team{
	padding: 90px 0;
	overflow: hidden;
	h2{
		padding-bottom: 128px;
		color: #4e525d;
		text-align: center
	}
	&__col{
		float: left;
		padding: 0 11px;
		width: 25%;
	}
	&__profile{
		display: block;
		margin: 0 auto;

		width: 200px;
		height: 200px;
		border-radius: 50%;
		text-align: center;
		background-color: #eeeef0;
		background-position: center center;
		transition: 1s;
		cursor: pointer;
		&:hover{
			background-color: #eeeef0;
			background-image: url(../img/plus.png);
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	&__desc{
		padding-top: 70px;
		text-align: center;
		h4{
			color: $teamFontColor;
		}
		h6{
			margin-bottom: 35px;
			font-size: 1em;
			color: $teamFontColor;
		}
		p{
			color: $teamFontColor;
			line-height: 1.5;
		}
	}
}

// servise styles
.service{
	@extend .padding;
	background-color: #f1f1f1;
}