@import "_variables.scss";
@import "_buttons.scss";
@import "_fonts.scss";
@import "_reset.scss";


//header top 
.header-top{
	&__col{
		display: inline-block;
		vertical-align: top;
		width: 49%;
	}
	&__logo{
		padding-top: 30px;
		a{
			display: inline-block
		}
	}
	&__nav{
		text-align: right;
		li{
			display: inline-block;
		}
		a{
			display: block;
			padding: 0 15px;
			font-size: $navSize;
			line-height: 6.7;
			transition: .5s;
			border-bottom: 3px solid #fff;
			&:hover{
				color: $navHover;
				border-bottom: 3px solid $navHover;
			}
		}
	}
}

// header-bottom 
.header-bottom{
	&__col{
		padding: 120px 0 145px 0;
		text-align: center;
		background: url(../img/header__bottom-img.jpg) no-repeat center top;
		background-size: cover;
	}
	h3{
		margin: 20px 0 62px 0;
		font-size: 1.643em;
		color: #fff;
	}
}

//carousel styles
.owl{
	&-nav{
		position: absolute;
		top: 50%;
		width: 100%;
	}
	&-prev{
		position: absolute;
		left: 30px;
		width: 50px;
		height: 50px;
		font-size: 0;
		color: transparent;
		border-radius: 50%;
		background: #fff url(../img/arrow-left.png)no-repeat center center;
	}
	&-next{
		position: absolute;
		right: 30px;
		width: 50px;
		height: 50px;
		font-size: 0;
		color: transparent;
		border-radius: 50%;
		background: #fff url(../img/arrow-right.png)no-repeat center center;
	}
}

// team 
.team{
	padding: 90px 0;
	overflow: hidden;
	h2{
		padding-bottom: 128px;
		color: #4e525d;
		text-align: center
	}
	&__col{
		float: left;
		padding: 0 11px;
		width: 25%;
	}
	&__profile{
		display: block;
		margin: 0 auto;

		width: 200px;
		height: 200px;
		border-radius: 50%;
		text-align: center;
		background-color: #eeeef0;
		background-position: center center;
		transition: 1s;
		cursor: pointer;
		&:hover{
			background-color: #eeeef0;
			background-image: url(../img/plus.png);
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	&__desc{
		padding-top: 70px;
		text-align: center;
		h4{
			color: $teamFontColor;
		}
		h6{
			margin-bottom: 35px;
			font-size: 1em;
			color: $teamFontColor;
		}
		p{
			color: $teamFontColor;
			line-height: 1.5;
		}
	}
}

// servise styles
.service{
	@extend .padding;
	background-color: #f1f1f1;
	&__row{
		overflow: hidden
	}
	&__col{
		width: 30.33333%;
		float: left;
		text-align: center;
		border: 1px solid #f1f1f1;
		&-center{
			margin: 0 30px;
		}
	}
	&__title{
		color: $titleColor;
		line-height: 2.9;
		&-dark{
			background: $titleDark;
		}
		&-light{
			background: $titleLight;
		}
	}
	&__subtitle{
		font-size: 1.429em;
		line-height: 3.5;
		color: $titleDark;
		background-color: $subtitleColor;
	}
	&__nav{
		background-color: $bigBtnColor;
		li{
			color: $serviceNavColor;
			border-bottom: 1px solid #ecf0f1;
			line-height: 3.2;
		}
	}
	&__footer{
		padding: 29px 0;
		background-color: $subtitleColor;
	}
}
.footer{
	padding: 104px 0 98px 0;
	background: url(../img/footer__bg.jpg)no-repeat center top;
	background-size: cover;
	h2{
		padding-bottom: 115px;
		text-align: center;
		color: #fff;
	} 
	&__row{
		overflow: hidden;
	}
	&__col{
		width: 50%;
		float: left;
		h3{
			margin-bottom: 15px;
			font-size: 1.714em;
			color: $titleColor;
		}
		p{
			margin-bottom: 35px;
			color: $titleColor;
			opacity: .5;
		}
		input[name="username"],
		input[name="email"]{
			display: inline-block;
			margin-bottom: 30px;
			padding-left: 15px;
			width: 95%;
			height: 45px;
			font-size: 1em;
			border-radius: 3px;
		}
		input[name="email"]{
			float: right;
		}
		textarea[name="comment"]{
			padding: 15px;
			width: 100%;
			height: 180px;
			font-size: 1em;
			resize: none;
			border-radius: 3px;
		}
		input[type="submit"]{
			float: right;
			margin-top: 30px;
			padding: 13px 52px;
			background-color: #49cbcd;
			color: #fff;
			font-size: 22px;
			border-radius: 3px;
			cursor: pointer;
			transition:.5s;
			&:hover{
				background-color: lighten(#49cbcd, 10%);
			}
		}
	}
	&__field{
		position: relative;
		width: 48%;
		display: inline-block;
		vertical-align: top;
		&-comment{
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 100%;
		}
	}
	&__social{
		li{
			display: inline-block;
			margin-right: 25px;
			list-style: none;
			&:first-child{
				a{
					background-color: #3b5997;
					&:hover{
						background-color: lighten(#3b5997, 10%);
					}
				}
			}
			&:nth-child(2){
				a{
					background-color: #3ec2f3;
					&:hover{
						background-color: lighten(#3ec2f3, 10%);
					}
				}
			}
			&:last-child{
				a{
					background-color: #e44c41;
					&:hover{
						background-color: lighten(#e44c41, 10%);
					}

				}
			}
		}
		a{
			display: block;
			padding-top: 9px;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			transition: .5s;
		}
		i{
			display: block;
			font-size: 1.643em;
			text-align: center;
			color: #fff;
		}
	}
	&__copyright{
		margin-top: 20px;
		li{
			color: #bface2;
		}
	}
	.error{
		position: absolute;
		top: 12px;
		right: 23px;
		color: red;
	}
}